:root {
  --color-text: #ffffff;
  --color-background: #ff8b07;
  --color-outline: #e66b07;
  --color-shadow: #00000080;
  --background: #0F0F0F;
  
  --color-anim: #fff;
  --shadow-input: #ff8b07;
  --font: 'Poppins', sans-serif;

  --button-size: 40px;
  --close-width: ($button-size / 10);
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

/* .appair {
  display: none;
} */

.report {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-report {
  width: 1163px;
  background: var(--background);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px;
}

.report-pic {
  width: 296px;
}

.report-pic img {
  max-width: 100%;
}

.report-form {
  width: 390px;
}

.report-form-title {
  font-family: var(--font);
  display: block;
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-text);

  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

select.input1 {
  font-family: var(--font);
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: var(--shadow-input);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/* Button */
.btn-conteiner {
  display: flex;
  justify-content: center;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: var(--font);
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* Close btn */
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: var(--color-anim);
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: var(--color-anim);
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

/* Responsive */

@media (max-width: 1200px) {
  .report-pic {
    width: 33.5%;
  }

  .report-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-report {
    padding: 90px 80px 88px 90px;
  }

  .report-pic {
    width: 35%;
  }

  .report-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-report {
    padding: 90px 80px 88px 80px;
  }

  .report-pic {
    display: none;
  }

  .report-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-report {
    padding: 90px 15px 88px 15px;
  }
}

/* Dropmenu  */
